@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
}

.links {
    display: flex;
}

.sub-header {
    display: flex;
    background-color: #1F2937;
    padding: 50px;
}

.sub-header-main {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-one {
    border-radius: 7px;
    border: none;

    padding: 14px;
    
    height: 30px;
    width: 120px;
    
    background-color: #3882f6;
    color: #F9FAF8;
    
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 30px;
    padding-bottom: 30px;

}