@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
}

.links {
    display: flex;
}

.sub-header {
    display: flex;
    background-color: #1F2937;
    padding: 50px;
}

.sub-header-main {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-one {
    border-radius: 7px;
    border: none;

    padding: 14px;
    
    height: 30px;
    width: 120px;
    
    background-color: #3882f6;
    color: #F9FAF8;
    
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-boxes {
    display: flex;
    justify-content: center;
}

.info-box {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 0px 10px;
}

.box {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.info-text {
    padding-left: 3px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.testimonial {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.signature {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.call-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #3882f6;
    
    border-radius: 10px;
    margin: 120px 70px;
    padding: 70px 100px;
}

.call-box-text :first-child {
    display: flex;
    flex-direction: column;


    font-weight: bold;
    font-size: 20px;
    color: #F9FAF8;
}

.call-box-text {
    color: #F9FAF8;
}

.call-box-button {
    border-radius: 7px;
    border: none;

    padding: 10px 25px;
    
    height: 30px;
    width: 120px;
    border: 2px solid #F9FAF8;
    
    background-color: #3882f6;
    color: #F9FAF8;
    
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
    color: #E5E7EB;

    padding: 20px 0px;
}